
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* База */
body{
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
.container{
  max-width: 1200px;
  padding:0 15px;
  margin: 0 auto;
  
}
a{
  font-size: 22px;
}
/* Шапка */
header{
  position:relative;
  /* background: linear-gradient(-43deg, #2f2f2f 0%, #202020 100%); */
  background-color: #000;
  
  border-bottom-right-radius: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  color:#fff;
}
  .lightning-text {
    position: relative;
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    animation: flicker 2s infinite;
}

.lightning-text::before,
.lightning-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(77, 0, 219, 0.8), transparent);
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    animation: lightning 1s infinite;
}

.lightning-text::after {
    animation-delay: 0.5s;
}

@keyframes flicker {
    0%, 100% { text-shadow: 0 0 5px rgb(0, 51, 190), 0 0 10px rgb(0, 162, 255), 0 0 20px rgb(0, 95, 204); }
    50% { text-shadow: 0 0 20px rgb(221, 0, 0), 0 0 30px rgb(202, 0, 0), 0 0 40px rgb(221, 0, 0); }
}

@keyframes lightning {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
.header-video{
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom-right-radius: 0px;
  opacity:1;
}
header .container{
  position:relative;
  z-index: 7;
}
.header-rom{
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  align-items: center;

}
.header-rom img{
  border-radius: 80px;
  max-width: 540px;
}
h1{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header-text p{
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 300;
}
.header-btns{
  display: flex;
  column-gap:20px;
}
.btn{
  height: 48px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #000;
  border-radius:8px;
  color:#FFF;
  font-size: 16px;
  transition: all 0.2s ease-in;

}
.btn:hover{
  background-color: #1782CF;
}
.btn-border{
  height: 48px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border:1px solid #3B3B3B;
  border-radius:8px;
  color:#FFF;
  font-size: 16px;
  transition: all 0.2s ease-in;

}
.btn-border:hover{
  border:1px solid #1782CF;
}
/* Портфолио */
.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.card img{
  margin-bottom: 30px;
  border-radius: 30px;
  transition: opacity 0.5s ease-in;
}
.card img:hover{
  opacity:0.8;
  cursor: pointer;
}
.portfolio h2{
font-size: 52px;
margin-bottom: 65px;

}
/* Контакты */
.contakts{
  background-color:#252525;
  padding: 80px 0;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contakts h2{
  font-size: 52px;
  color:#FFF;
  font-weight: 700;
  margin-bottom: 60px;
}
.messengers{
  display:flex;
  column-gap:30px;
}
.messenger{
  flex-grow: 1;
  border:2px solid  #777777;
  border-radius:20px;
  padding: 45px 20px;
  display: flex;
  column-gap:15px;
  align-items:center;
transition: background-color 0.2s ease-in;
}
.messenger:hover{
  background-color: #1E1e1E;
  cursor: pointer;
}
.messenger a{
  color:#d8d8d8;
}
/* Футер */
footer{
  background-color:#1E1E1E;
  padding: 30px 0;
  color: #5D5D5D;
}
.footer-inner{
  text-align: center;
}
.footer-inner p{
  margin-top: 15px;
}

nav{
  position: fixed;
  top:0;
  z-index: 15;
  width: 100%;
  background: rgba(2, 78, 83, 0.8)
}
.navigation{
  display: flex;
  justify-content: center;
  column-gap:20px;
  padding: 15px 0;
}
.navigation a{
  color:#FFF;
  font-size: 24px;
  text-transform: uppercase;
  transition: all 500ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navigation:hover a:hover{
  color:rgb(0, 255, 213);
}
/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: red;
}

.timer {
    display: flex;
    grid-template-columns: 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem 0.5rem 4.5rem;
    font-size: 3rem;
    justify-items: center;
    margin: 100px 140px;
    animation: lightning 1s infinite;
  }
  
.timer__item {
    position: relative;
  }
  
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
    color: #424242;
  }